body{
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    color: hsl(0, 0%, 100%);
    max-width: 100%;
}

a{
    color: hsl(0, 0%, 100%);
}

.container-cabecalho{
    font-family: 'Raleway', sans-serif;
}

.imagem-principal .titulo{
    font-family: 'Raleway', sans-serif;
}

.imagem-secundaria .titulo{
    font-family: 'Raleway', sans-serif;
}