.container-cabecalho {
  background-color: hsl(217, 28%, 15%);
  display: flex;
  padding: 30px 40px;
  justify-content: space-between;
  align-items: center;
}

.container-cabecalho .menu ul {
  display: flex;
}

.container-cabecalho .menu a {
  margin-left: 40px;
}

.container-cabecalho .menu a:hover{
  border-bottom: solid 1px;
 
}

.conteudo-principal {
  background-color: hsl(218, 28%, 13%);
}

.imagem-principal {
  background: hsl(217, 28%, 15%);
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
}

.imagem-principal img{
    max-width: 100%;
}

.imagem-principal .descricao .titulo {
  max-width: 650px;
  font-size: 30px;
  font-weight: 700;
  margin: 0 auto;
}

.imagem-principal .descricao .texto {
  font-size: 18px;
  margin-bottom: 30px;
  max-width: 550px;
  margin: 40px 
}

.imagem-principal .botao a {
  font-size: 16px;
  background-color: hsl(176, 68%, 64%);
  padding: 15px 80px;
  border-radius: 30px;
}

.imagem-principal .botao a:hover {
  background-color: hsl(198, 60%, 50%);
  transition: 0.3s;
}

.vantagens {
  display: grid;
  grid-template-areas:
    "icone1 icone2"
    "icone3 icone4";
  text-align: center;
  row-gap: 90px;
  margin-top: 90px;
  padding: 100px 100px;
  align-items: center;
}

.vantagens .titulo{
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 5px;
}

.vantagens img{
  margin-bottom: 5px;
}

.vantagens .icone1,
.icone2,
.icone3,
.icone4 {
  max-width: 390px;
  margin: 0 auto;
}

.imagem-secundaria {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 180px 100px;
  gap: 80px;
}

.imagem-secundaria img{
    max-width: 100%;
}

.imagem-secundaria .descricao {
  max-width: 520px;
}

.imagem-secundaria .descricao .titulo {
  width: 250px;
  font-size: 30px;
  font-weight: 700;
  margin-bottom: 15px;
}

.imagem-secundaria .descricao .texto {
  font-size: 16px;
}

.imagem-secundaria .descricao .link  {
  margin-top: 20px;
}

.imagem-secundaria .descricao .link a {
  color: darkcyan;
  border-bottom: solid 1px;
}

.imagem-secundaria .descricao .link a:hover {
  transition: 0.3s;
  color: hsl(0, 0%, 100%);
}

.feedback {
  display: grid;
  grid-template-areas: "comentario comentario  comentario";
  padding: 80px 120px 300px;
  display: flex;
  column-gap: 10px;
  justify-content: center;
  position: relative;
}

.feedback .usuario {
  display: flex;
  margin-top: 30px;
  align-items: center;
  line-height: 18px;
}

.feedback .foto-usuario {
  border-radius: 20px;
  max-width: 30px;
  margin-right: 10px;
}

.feedback .usuario .nome {
  font-weight: 700;
}

.feedback .usuario .cargo {
  font-size: 10px;
}

.quote {
  position: absolute;
  left: 135px;
  top: 45px;
}

.feedback .comentario {
  background-color: hsl(219, 30%, 18%);
  width: 360px;
  line-height: 20px;
  padding: 30px;
  margin: 0 auto;
  border-radius: 5px;
  position: relative;
  box-shadow: hsl(217, 28%, 15%) 5px 5px, hsl(217, 28%, 15%) 10px 10px;
   
}

.email {
  background-color: hsl(217, 28%, 15%);
  align-items: center;
  text-align: center;
  width: 800px;
  position: relative;
  margin: 0 auto;
  padding: 30px 40px;
  right: 50px;
  left: 50px;
  bottom: -100px;
  box-shadow: hsl(217, 28%, 15%) 5px 5px; 
}

.email .texto {
  max-width: 680px;
  margin: 0 auto;
}

.email .texto .titulo {
  font-size: 30px;
  font-weight: 700;
  margin-bottom: 20px;
}

.email .input-e-botao {
  padding: 20px 10px;
}

.email .input-e-botao a {
  background-color: hsl(198, 60%, 50%);
  padding: 10px 30px;
  border-radius: 20px;
  margin-left: 20px;
}

.email .input-e-botao a:hover {
  background-color: hsl(176, 68%, 64%);
  transition: 0.3s;
}

.email .input-e-botao input {
  border-radius: 20px;
  padding: 10px;
  width: 65%;
}

.container-rodape {
  background-color: hsl(216, 53%, 9%);
  padding: 180px 180px;
  display: grid;
  grid-template-areas:
    "logo logo logo logo logo"
    "localizacao contato sobre-nos contate-nos social";
  justify-content: space-between;
}

.logo {
  grid-area: logo;
}

.localizacao {
  grid-area: localizacao;
  display: flex;
}

.contato {
  grid-area: contato;
}

.sobre-nos {
  grid-area: sobre-nos;
}

.contate-nos {
  grid-area: contate-nos;
}

.social {
  grid-area: social;
  display: flex;
  gap: 10px;
}

.social i {
  border: solid 1px;
  padding: 5px;
  border-radius: 100%;
  
}

.container-rodape .logo {
  margin-bottom: 30px;
}

.container-rodape .localizacao {
  font-size: 16px;
  max-width: 370px;
  line-height: 22px;
}

.container-rodape .localizacao .marcador {
  margin-right: 25px;
}

.container-rodape .contato {
  line-height: 40px;
}

.container-rodape .contato img{
  margin-right: 18px;

}

.container-rodape .sobre-nos {
  line-height: 40px;
}

.container-rodape .contate-nos {
  line-height: 40px;
}

.container-rodape .social {
  margin-top: 5px;
}
