h1 {
  text-decoration: underline;
  margin-left: 20px;
}

.modas {
  width: 332px;
}

.modas th {
  font-size: 30px;
  background-color: #bb86fc;
  padding: 5px;
}
.modas td {
  background-color: #424250;
  padding: 5px;
  color: white;
}

.casa {
  width: 203px;
}

.casa th {
  font-size: 30px;
  background-color: #00c4b4;
  padding: 5px;
}

.casa td {
  background-color: #424250;
  padding: 5px;
  color: white;
}
